.button {
    background-color: #0c6efd;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
.log-out {
    background-color: #4caf50;
    position: absolute; 
    top: 0; 
    right: 0; 
    margin: 32px;
    padding: 10px;
}

.modal-button{
    border: 1px solid black;
    background: powderblue;
    border-radius : 10px;
    padding: 5px;
    margin: 10px;
    width: 80px;
}

.reset-button {
    border: 1px solid black;
    background-color: #0c6efd;
    color: white;
    border-radius: 10px;
    height: 40px;
    width: 160px;
    margin-top: 20px;
}

.submit-button {
    text-align: center;
    margin-bottom: 10px;
}