.swiper-modal {
width: 500px;
height: 300px;
background-color: aliceblue;
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 30px;
}

.form-container {
    display: flex;
    justify-content: center;
}
.sidebar {
    flex: 5%;
    font-size: 25px;
    padding: 20px;
    background-color: darkgray;
}

.modal-input {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}
