table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 30px;    
}
tr {
    border-bottom: 1px solid black;
    height: 40px;
    text-align: center;
}
th{
    text-align: center;
}

.search-container {
    display: flex;
    justify-content: space-between;
    height: 70px;
    font-size: 18px;
    align-items: center;
    width: 500px;
}
.search-container input, select {
    border: 1px solid black;
    border-radius: 8px;
    padding: 2px;
}