.not-found {
    text-align: center;
    font-size: 20px;
}

.student-detail {
    display: flex;
    justify-content: space-evenly;
    width: 900px;
    max-height: 300px;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 1px solid black;
    background-color: powderblue;
}
tr {
    border-bottom: 1px solid black;
    height: 40px;
    text-align: center;
}
th{
    background-color: teal;
    color: white;
    text-align: center;
}

tr td button{
    border: 1px solid black;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    background-color: darkseagreen;
}    
h1 {
    margin-bottom: 30px;
    background-color: #a9a9a9;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-content {
    margin: 0 auto;
    padding: 20px;
    flex: 85%;
    background-color: gainsboro;
}
#loading {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
}
#createExam {
    margin-top: 40px;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}
/* .table-container {
    display: flex;
    justify-content: center;
} */

.student-table{

    max-height: 300px;
    /* overflow-y: scroll; */
}

table {
    display: flex;
    flex-flow: column; 
}

/* thead {
    padding-right: 13px;
    flex: 0 0 auto;
} */

tbody {
    flex: 1 1 auto;
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
}

tr {
    width: 100%;
    display: table;
    table-layout: fixed;
}
.ExamPage {
    border: 1px solid black;
    padding: 20px;
    width: 800px;
    background-color: ghostwhite;
}
.ExamPage input {
    padding: 2px;
    border-radius: 8px;
    border: 1px solid rgb(148, 148, 148);
}

.page-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 5px;
    padding: 10px;
    max-width: 500px;
    margin-left: 0px;
}
#optionInput {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 15px;
    width: 300px;
}
#optionInput label {
    display: flex;
    gap: 10px;
}